<p-card header="Lugares">
    <p-table [value]="locations" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]" [showCurrentPageReport]="true" #dt
        [globalFilterFields]="['name', 'type', 'dimension']">
        <ng-template #caption>
            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText type="search"
                        id="search"
                        class="block w-full p-3 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
                        placeholder="Buscar por palabra clave" required />

                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="width:25%">Nombre</th>
                <th pSortableColumn="type" style="width:25%">Tipo</th>
                <th style="width:25%">Dimension</th>
                <th style="width:25%">Cantidad habitantes</th>

            </tr>
        </ng-template>
        <ng-template #body let-location>
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.type }}</td>
                <td>{{ location.dimension }}</td>
                <td>{{ location.residents?.length }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>