@if(character$ | async; as character ){
<p-card header="Perfil personaje">
    <p-panel>
        <ng-template #header>
            <div class="flex items-center gap-2">
                <p-avatar image="{{character.image}}" shape="circle" width="100" />
                <span class="font-bold">{{character.name}}</span>
            </div>
        </ng-template>

        <p>
            <label class="font-bold">
                Status:
            </label>{{character.status}}
        </p>
        <p>
            <label class="font-bold">
                Género:
            </label>{{character.gender}}
        </p>


        <p>
            <label class="font-bold">
                Especie:
            </label>{{character.species}}
        </p>
        <p>
            <label class="font-bold">
                Origen:
            </label>{{character.origin.name}}
        </p>
        <p>
            <label class="font-bold">
                Locación actual:
            </label>{{character.location.name}}
        </p>

        <p>
            <label class="font-bold"> Creación de perfil:</label>
            {{character.created}}
        </p>
        <p>
            <label class="font-bold">
                Episodios:
            </label>
        </p>

        <div class="columns-3">
            <ul>
                @for (episodios of character.episode; track $index) {

                <li>{{episodios}}</li>
                }
            </ul>
        </div>



    </p-panel>


</p-card>

}