.layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  gap: 0.5rem;
  border-top: 1px solid var(--surface-border);

  .layout-footer-logo {
    img {
      width: 5rem;
      height: auto;
    }
  }
}
