/* You can add global styles to this file, and also import other style files */
@use "./app/app.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
// @layer tailwind-base,
// primeng,
// tailwind-utilities;
// @layer tailwind-base {
//     @tailwind base;
// }
// @layer tailwind-utilities {
//     @tailwind components;
//     @tailwind utilities;
// }
